* {
  box-sizing: border-box;
}
body {
  background-color: #F0A830;
  color: #fff;
}
header {
  margin: 0 auto;
  width: 1200px;
}
h1 {
  padding-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.container {
  width: 1200px;
}
.fa {
  height: 300px;
  line-height: 300px;
  font-size:
}
.fa-chevron-left {
  padding-left: 300px;
}
.fa-chevron-right {
  padding-right: 300px;
}
#carousel {
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding:10px;
}
#slider {
  padding: 0;
  display:block;
  width:100%;
  height:300px;
  margin:0 0 10px;
  overflow:hidden;
  border: 1px solid #fff;
  }
li {
  list-style-type: none;
  float: none;
  height: 300px;
  width: 400px;
}
img {
  height: 300px;
  width: 400px;
}
#prev, #next {
    bottom:0;
    display:block;
    width:120px;
    background-color:#00ABFF;
    padding:5px;
    border:none;
    font-size:17px;
    color:#fff;
    }
#prev {
    float:left;
    }
#next {
    float:right;
    }
